<html>
<head><meta charset="UTF-8">

<style>body{
		font-size:1.5em; 
		padding:20px;
	}
	
	section{
		border:1px solid black; 
		padding:10px;margin-bottom :20px;
	}
	
	img{
		width:50%;
	}
	
	img:hover{
		margin-left:100px;
		transform: scale(1.2);
		
	}


</style>
</head>
<body>
<section>

<h1>ASP.NET MVC</h1>
<p>MVC is an architectural pattern that stands for Model View Controller. Designed in 1970s and was widely adopted in web. It is used 
by many frameworks like Laravel, RubyOnRails,ASP.NET MVC etc.
 </p>
 
 <ul>
 <li><h2>Model</h2>Application data and behaviour in terms of its problem domain independent of the UI. In model we have our classes.
 These classes have properties and methods that purely represent the application state and rules that have nothing to do with the UI.(Plain CLR objects or POCOs)</li>
 <li><h2>View</h2>The HTML that we display to the user</li>
 <li><h2>Controller</h2> Responsible for handling the HTTP request(for example if our app is hosted in vidly.com and we want to view vidly.com/movies a controller will
 be selected to handle this request)<br>***View <- Controller -> Model*** So the controller is responsible for connecting the Model with the View.</li>
 <li><h2>Router</h2>This is not mentioned in MVC letters but it's always there. Selecting the right controller is the responsibility of the router. The router 
 based on some rules knows what controller must be used according to the request. In ASP.NET MVC methods of a controller are called actions</li>
 </ul>
<p>With this architecture every component is responsible for doing something and seperating it for clearer code and maintanability.</p>
</section>

<section>
<h1>ASP.NET MVC structure</h1>

 <ul>
 <li><h2>App_Data</h2>Database files will be stored here</li>
 <li><h2>App_Start</h2>Includes some classes for when the application is started
	<ol>
		<li><h3>Routeconfig.cs</h3><p>This is the configuration or our routing rules.</p>
		<img src="route_config.jpg">
		<p>So if our url matches this patterns we have: First part is the name of the controller,second part is the name of the action, third part is an ID
		we can pass to that action. With this rule if we send a request to movies/popular in runtime we have a MoviesController and a Popular() method.
		Another example is with /movies/edit/1 we get MoviesController and its method Edit(int id) with id 1.
		</p>
		<p>Also we can see we have some defaults values in our picture. So if the request doesn't match the url pattern we will get the defaults.
		Similarly if we have the controller but not the action it will be handled by the Index action. If we go to /movies since we don't have any actions
		it will be handled by MoviesController.Index().
		</p>
		<p>Id is an optional parameter. Because not every action needs an id.</p>
		</li>
		
		<li><h3>Bundleconfig.cs</h3>
		<p>Here we define various bundles for client side assets like scripts css etc.</p>
		</li>
	</ol>
 </li>
 <li><h2>Content</h2>
 <p>Here we put our css files, images and every other client assets.</p>
 
 <li><h2>Controllers</h2>
 <p>The folder with our controllers which in our first created applcation we see 3 default controllers.</p>
 </li>
 
<li><h2>fonts</h2>
 <p>Fonts(we should move them to Content).</p>
 </li>
 
 <li><h2>Models</h2>
 <p>All our domain classes are here.</p>
 </li>
 
<li><h2>Scripts</h2>
 <p>Javascript files.</p>
</li>
 
<li><h2>Views</h2>
 <p>We have our views which is the V in MVC. In there we have folders named after controllers(without the ending controllers) in our application.
 By convention when we use a view ASP.NET will look for the same name as the controller.
 <img src="view.jpg">
 <p>We also have a folder called Shared which includes the views that can be viewed by different controllers.</p>
</li>

<li><h2>favicon.ico</h2>
 <p>The icon diplayed for our app in browser.</p>
</li>

<li><h2>Global.asax</h2>
 <p>Traditional file that has been in ASP.NET which is a class that provides hooks for various events in the applications lifecycle.
 When the application is started Global.asax will start. We will have some things registered like Routes.
 </p>
</li>

 <li><h2>packages.config</h2>
 <p>It's used by Nuget package manager(like npm bower etc). Instead of going to every site downloading and installing a package we have them all in one place 
 in Visual Studio.
 </p>
</li>
 
  <li><h2>Startup.cs</h2>
 <p>This the new approach microsft takes for ASP.NET core which will replace Global.asax when the application starts.
 </p>
</li>
 
   <li><h2>Web.config</h2>
 <p>This is an .xml file which has our configuration for our application. Mostly we use connectionStrings(database connection info) and appSettings(our configuration
 settings for our app)
 </p>
</li>
 
 </ul>


</section>

<section>
<h1>MVC in Action</h1>
<p>First we create a class in Model with the properties we want.</p>
<p>Let's say we want to have a page that we randomly pick a movie and render its details. If the page will be /movies/random we need to create a controller
called MoviesController with an action called random. So an action is a method responsible for handling a request.
</p>
<p>To create the controller in solution explorer right click in controller and then add controller. There we have some templates that will auto generate 
some code for us. Then we create an empty one. By default we have an Index action which returns the View. We have to create what methods/actions we will have.
 </p>
 <p>We have to say to this newlly created controller that we will use the models.
<img src="using_models_in_controller.jpg">
 </p>
 <p>As we see it returns the View which we should create in our folder Movies that will be called Random.
 <img src="add_view.jpg">
 </p>
 <p>There we can use a template and choose as a <strong>partial view</strong> which is like a widget which can be used on different views.
 <img src="partial_view.jpg">
 </p>
<p>Also we have to select the layout since we want all our pages look similar in our app. By default our mvc project has a layout to choose.
<img src="layout_template.jpg">

</p>

<h2>.cshtml(the view we created)</h2>
<ol>
<li><h3>ViewBag.Title </h3><p>This is basically the title for the page shown in the browser</p></li>
<li><h3>Layout</h3><p>The layout used for this view.</p></li>

</ol>
<p>Back at our MoviesController we pass the parameter we want to show in our View method.
<img src="return_view.jpg">
</p>

<p>When we want to write C#  and have it shown in our View we start with @. Then we write Model. Every View has 
this property which give us access to the Model we passed to it and the controller. If we type . at the Model we will see
that the type of this model is dynamic.
<img src="dynamic.jpg">
</p>
<p>On top of the file we need to use a directive to specify the type of the Model for this View.
<img src="fully_qualified_name.jpg">
</p>
<p>After that we can see that we can access the Name property for Model and we can put it in our html.</p>
</section>

<section>
<h1>ASP.NET MVC Fundamentals</h1>
<ul>

<li>
<h2>Action Results</h2>
<p>In our controllers before our methods name we have ActionResult type.</p>
<pre>        public ActionResult Random()
        {
            var movie = new Movie() {Name ="Shrek" };
            return View(movie);
        }</pre>
<p>ActionResult is the base class of all action resolves in ASP.NET MVC. Depending on what an action does it would return an instance of one the class that derives from.</p>		
</li>
<ol>
<li>
<h3>return View() in ActionResult</h3>
<p>This method allows us to quickly create a view result and derives from Controller class. Another way is :</p>
<pre>return new ViewResult();</pre>

</li>

<li>
<h3>ViewResult</h3>
<p>We can set the type to ViewResult instead of ActionResult. This is good for unit testing. Sometimes in an action we may have different execution paths and return different action results.</p>
</li>

<li>
<h3>PartialViewResult</h3>
<p>Return a PartialView().</p>
</li>

<li>
<h3>ContentResult</h3>
<p>Return simple text Content().</p>
<pre>   
        public ActionResult Random()
        {
            
            return Content("Hello World");
        }</pre>
</li>

<li>
<h3>RedirectResult</h3>
<p>Redirect user to url Redirect().</p>
</li>

<li>
<h3>RedirectToRouteResult</h3>
<p>RedirectToAction() instead of url. First the name of the action and then the name of the controller.</p>
<pre>        public ActionResult Random()
        {
            return RedirectToAction("Index","Home");
        }</pre>
		<p>If we want to have new query strings we will have to pass a third argument.
		<img src="query_strings.jpg"></p>
</li>

<li>
<h3>JsonResult</h3>
<p>Return a serialized object file Json().</p>
</li>

<li>
<h3>FileResult</h3>
<p>Return a  file File().</p>
</li>

<li>
<h3>HttpNotFoundResult</h3>
<p>Return a not found error HttpNotFound().</p>
<pre>        public ActionResult Random()
        {
            return HttpNotFound();
        }</pre>
</li>

<li>
<h3>EmptyResult</h3>
<p>Return something empty like void.</p>
<pre>        public ActionResult Random()
        {
            return new EmptyResult();
        }</pre>
</li>
</ol>

<li>
<h2>Action parameters</h2>
<p>The input for our actions. The parameter resources :</p>

<ol>
<li><p>In the URL : /movies/edit/1 (if the paramater is not named id but something else since in our default we must have it as id we will get an error)</p>
<img src="parameter_resource_url.jpg">
</li>
<li><p>In the query string : /movies/edit?id=2</p>
<img src="parameter_resource_query_string.jpg">
</li>
<li>In the form data : id=1</li>

<li><p>Optional parameter</p>
<pre>        public ActionResult Index(int? pageIndex,string sortBy)
        {
            if (!pageIndex.HasValue)
            {
                pageIndex = 1;
            }

            if (String.IsNullOrWhiteSpace(sortBy))
            {
                sortBy = "Name";
            }
            return Content(String.Format("pageIndex={0}&sortBy={1}", pageIndex, sortBy));

        }</pre>
</li>

</ol>

<p>If we don't have the parameter we will get an error.
<img src="no_parameter.jpg">
</p>
</li>


<li>
<h2>Convention-based Routing(custom Routing)</h2>
<p>We might need in our application more parameters than id like : /movies/released/2015/04. You have 
to define the Routes from the more specific to the most generic otherwise the more generic will be applied to the url.
The most common overload method is the one with three parameters(name,URL, defaults) and the name must be unique.
</p>
<pre>            routes.MapRoute(
                "MoviesByReleaseDate",
                "movies/released/{year/{month}}",
                new {controller = "Movies",action="ByReleaseDate"});</pre>
<p>Next we create the action(if we type mvcaction4 and tab we can create it fast). If the url doesn't matches the RouteConfig patterns we will get an error.
<img src="custom_routing.jpg">
</p>
<p>Regular Expression(if the url doesn't matches the expression we will get an error)</p>
<pre>            routes.MapRoute(
                "MoviesByReleaseDate",
                "movies/released/{year}/{month}",
                new{controller = "Movies",action="ByReleaseDate"},
                new {year = @"\d{4}", month = @"\d{2}"}
                );</pre>
<p>If we want to limit the route parameters: </p>
<pre>            routes.MapRoute(
                "MoviesByReleaseDate",
                "movies/released/{year}/{month}",
                new{controller = "Movies",action="ByReleaseDate"},
                new {year = @"2015||2016}", month = @"\d{2}"}
                );</pre>
</li>

<li><h2>Attribute Routing</h2>
<p>This is a cleaner way of creating custom routes so we can avoid making RouteConfig a mess and avoiding errors if we rename the action.</p>
<p>First we enable it:</p>
<pre>routes.MapMvcAttributeRoutes();</pre>
<p>And the way of not polluting our RouteConfig : </p>
<pre>        [Route("movies/released/{year}/{month:regex(\\d{2})}")]
        public ActionResult ByReleaseDate(int year,byte month)
        {
            return Content(year +"/" +month);
        }</pre>
		<h3>Constraints</h3>
		<ol>
		<li>range</li>
		<li>min</li>
		<li>max</li>
		<li>minlength</li>
		<li>maxlength</li>
		<li>int</li>
		<li>float</li>
		<li>guid</li>
		
		</ol>
</li>

<li><h2>Passing Data to Views</h2>
<p>We have two extra ways to return a view instead of only passing the parameter to View method.</p>
<h3>ViewData</h3>
<p>At our controller : </p>
<pre>        public ActionResult Random()
        {
            var movie = new Movie() { Name = "Shrek" };

            ViewData["Movie"] = movie;

            return View();
        }</pre>
		
<p>And at our Model we need to cast the ViewData with the type(this approach is ugly and shouldn't be used).</p>
<pre>@using Vidly.Models
@model Vidly.Models.Movie
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

&lt;h2>@( ((Movie)ViewData["Movie"]).Name)&lt;/h2&gt;
</pre>
</li>

<li>
<p>Microsoft tried to fix it with ViewBag that instead of magic string it has a magic property. </p>
<pre>        public ActionResult Random()
        {
            var movie = new Movie() { Name = "Shrek" };

            ViewBag.Movie = movie;

            return View();
        }</pre>
<p>And at our View(if we decide to change it we should remember to change it at View also): </p>		
<pre>@using Vidly.Models
@model Vidly.Models.Movie
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

&lt;h2>@ViewBag.Movie&lt;/h2></pre>
<h3>We should not use ViewData or ViewBag.</h3>
</li>


<li><h2>View Model</h2>
<p>A view model is a model specifically built for a view. It includes any data and rules specific to that view. For example if we
we didn't have the relation tou our model but we needed to show them in a view. </p>
<p>First we create a folder that will have our View Models. Then a class that will have the objects we want to relate.</p>
<img src="view_models.jpg">
<p>Then at our controller a viewModel :</p>
<pre>        public ActionResult Random()
        {
            var movie = new Movie() { Name = "Shrek" };
            var customers = new List&lt;Customer>
            {
                new Customer() {Name = "Customer1" },
                new Customer() {Name = "Customer2" }
            };

            var viewModel = new RandomMovieViewModel
            {
                Movie = movie,
                Customers = customers
            };

            return View(viewModel);
        }</pre>
<p>And at our Model : </p>
<pre>@model Vidly.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

&lt;h2>@Model.Movie.Name&lt;/h2></pre>

</li>

<li><h2>Razor Syntax - Razor Views</h2>
<p>We have seen that we simply add an @ symbol to write C# code in our View. We can alos write a foreach loop 
to show all data we want in our List. In the foreach block we can continue to write c# or we can write HTML.
</p>
<pre>@model Vidly.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

&lt;h2>@Model.Movie.Name&lt;/h2>

&lt;ul>
    @foreach (var customer in Model.Customers)
    {
        &lt;li>@customer.Name&lt;/li>
    }
&lt;/ul></pre>

<p>We can also write anything we want like ifs etc.</p>

<pre>@model Vidly.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

&lt;h2>@Model.Movie.Name&lt;/h2>

@if (Model.Customers.Count == 0)
{
    &lt;p>No one has rented this movei before.&lt;/p>
}</pre>

<p>Using if and else : </p>
<pre>@model Vidly.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

&lt;h2>@Model.Movie.Name&lt;/h2>

@if (Model.Customers.Count == 0)
{
    &lt;p>No one has rented this movei before.&lt;/p>
}
else
{
    &lt;ul>
        @foreach (var customer in Model.Customers)
        {
            &lt;li>@customer.Name&lt/li>
        }
    &lt;/ul>
}</pre>

<p><strong>Remember that type you pass in View of action result must be same in View:</strong></p>
<img src="type_controller_model.jpg">

<p>Rendering something dynamically : </p>
<pre>@{ 
    var className = Model.Customers.Count > 5 ? "popular" : null;
}

&lt;h2 class="@className">@Model.Movie.Name&lt/h2></pre>

<p>And to comment with razor syntax</p>
<pre>@*
    This is a comment
*@</pre>
</li>

<li>
<h2>Partial Views</h2>
<p>It's something that you can use it in different smaller areas like widgets etc or the navbar can be be in a partial view.
To create a partial view right click in views then add View. By convention we use an underscore for a partial view.
</p>
<img src="partial_views.jpg">
<p>Then to render it where we want we call the Html property of our Views.</p>
<pre>&lt;body>
    @Html.Partial("_NavBar")</pre>
</li>

<li><h3>ActionLink()</h3>
<p>ActionLink is used to define links for example in our navbar and has 9 overloads. In the below code we have
name of link, actionName, controllerName . </p>
<pre>                &lt;li>@Html.ActionLink("Home", "Index", "Home")&lt;/li></pre>



</li>

<li><h3>Url.Action()</h3>
<p>It provides only the Url potion and not the whole href like ActionLink(). </p>
<pre>&ltul>
    @foreach (var customer in Model.Customers)
    {
        &ltli>&lta href="@Url.Action("Details")/@customer.Id">@customer.Name&lt/a>&lt/li>
    }
&lt/ul></pre>



</li>

</ul>

</section>

<section>
<h1>Starting with database</h1>
<p>First in our package manager console we enable migrations.</p>
<p>Second we create our first migration with add-migration and name of migration.</p>
<p>Third we must create our tables in ApplicationContext as Dbset. Those changes are done in <strong>IdentityModel</strong>.</p>
<pre>    public class ApplicationDbContext : IdentityDbContext<ApplicationUser>
    {
        public DbSet<Customer> Customers { get; set; }

        public ApplicationDbContext()
            : base("DefaultConnection", throwIfV1Schema: false)
        {
        }

        public static ApplicationDbContext Create()
        {
            return new ApplicationDbContext();
        }
    }</pre>

<p>Forth we must generate our database by running the command update-database. We will have an mdf file created in our App-data :</p>
<img src="generating_database.jpg">
</section>

<section>
<h1>Seeding the database</h1>
<p>To seed the database you run an empty migration which will create an Up and Down method. 
Then in Up method you will use the SQL method to query the database and give data.
</p>
<p>After writing the query you type update-database in our package manager console. </p>

</section>

<section>
<h1>Overriding Conventions</h1>
<h2>Data Annotations</h2>
<p>If you want to change some column's properties you must use System.ComponentModel.DataAnnotations.
</p>
<p>Then you put in squared brackets the change you want :</p>
<pre>using System;
using System.Collections.Generic;
using System.ComponentModel.DataAnnotations;
using System.Linq;
using System.Web;

namespace Vidly.Models
{
    public class Customer
    {
        public int Id { get; set; }
        [Required]
        public string Name { get; set; }
        public bool IsSubcribed { get; set; }
        public MembershipType MembershipType { get; set; }
        public byte MembershipTypeId { get; set; }

    }
}</pre>
<p>Also we can use Fluent API as in the html file in here :<br><a href="https://github.com/georgetour/Entity-Framework/blob/master/Chapter%205%20Overriding%20Conventions/README.html">https://github.com/georgetour/Entity-Framework/blob/master/Chapter%205%20Overriding%20Conventions/README.html</a> </p>
</section>

<section>
<h1>Querying Objects</h1>
<p>To query the database with Entity framework first we create an ApplicationDbContext and initialize it in
the constructor since it's a disposable object we must dispose it :</p>

<h2>The Controller :</h2>
<pre>using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using Vidly.Models;
using Vidly.ViewModels;

namespace Vidly.Controllers
{
    public class CustomersController : Controller
    {

        private ApplicationDbContext _context;


        public CustomersController()
        {
            _context = new ApplicationDbContext();
        }

        protected override void Dispose(bool disposing)
        {
            _context.Dispose();
        }

        
        // GET: Customers
        public ActionResult Index()
        {
            var customers = _context.Customers.ToList();
           
            return View(customers);
        }


        //Details for one customer 
        public ActionResult Details(int id)
        {

            var customerDetails = _context.Customers.SingleOrDefault(c => c.Id== id);

            if (customerDetails == null)
               return HttpNotFound();

            return View(customerDetails);
        }

    }
}


</pre>

<h2>The View</h2>
<pre>@model IEnumerable&lt;Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

&lt;h2>Customers</h2>


    @if (!Model.Any())
    {
        &lt;p>Customer list is empty &gt;/p>
    } else {
        &lt;ul>
           @foreach (var customer in Model)
            {
                &lt;li>&lt;a href="@Url.Action("Details")/@customer.Id">@customer.Name&lt;/a>&lt;/li>
            }
       
        &lt;/ul>
    }
</pre>

</section>

<section>
<h1>Eager Loading</h1>
<p>If we try to load anything related objects we will get an error since Entity Framework loads only the main object.</p>
<p>So we have to load them all together and then show them in View by using Include method and System.Data.Entity :</p>

<pre>using System;
using System.Collections.Generic;
using System.Data.Entity;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using Vidly.Models;
using Vidly.ViewModels;

namespace Vidly.Controllers
{
    public class CustomersController : Controller
    {

        private ApplicationDbContext _context;


        public CustomersController()
        {
            _context = new ApplicationDbContext();
        }

        protected override void Dispose(bool disposing)
        {
            _context.Dispose();
        }

        
        // GET: Customers
        public ActionResult Index()
        {
            var customers = _context.Customers.Include(c => c.MembershipType).ToList();
           
            return View(customers);
        }


        //Details for one customer 
        public ActionResult Details(int id)
        {

            var customerDetails = _context.Customers.SingleOrDefault(c => c.Id== id);

            if (customerDetails == null)
               return HttpNotFound();

            return View(customerDetails);
        }

    }
}


</pre>

</section>

<section>
<h1>Forms</h1>
<p>To have a form first we need an Action that we will show the form in View(if you type mvcaction4 tab tab you will see a new Action easily created in Visual Studio).</p>
<p>After we have created the action in our View for the form :</p>

<ol>
<li>
<h3>With Html.BeginForm we pass the action this form will target when is submitted and the Controller. We have to write using at the begin so the form will be closed :</h3>
<pre>@using (Html.BeginForm("Create", "Customers"))
{

}</pre>
</li>
<li>
<h3>Inside the form we can use raw html or the methods we have in @Html<strong>(by using the methods we get automatically validation according to Model)</strong>. According to what we have in our Model the form will have the
the fields accordingly :
</h3>
<pre>    public class Customer
    {
        public int Id { get; set; }
        [Required]
        [StringLength(255)]
        public string Name { get; set; }
        public bool IsSubcribed { get; set; }
        public MembershipType MembershipType { get; set; }
        public byte MembershipTypeId { get; set; }
        public DateTime? Birthdate { get; set; }

    }
}</pre>
<img src="form_fields_according_to_model.jpg">

<pre>@model Vidly.Models.Customer

@{
    ViewBag.Title = "NewCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

&lt;h2>New Customer&lt;/h2>

@using (Html.BeginForm("Create", "Customers"))
{
    &lt;div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
    &lt;/div>
}</pre>

</li>

<li><h3>Add extras to form field (classes etc) :</h3>
<p>To do this we hust add the new keyword and type what we want :</p>
<pre>@using (Html.BeginForm("Create", "Customers"))
{
    &lt;div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class ="form-control" })
    &lt;/div>


}
</pre>

<p>Though if we have a check box we have to layout differently :</p>

<pre>    &lt;div class="checkbox">
        &lt;label>
            @Html.CheckBoxFor(m => m.IsSubcribed, new { @type = "checkbox" })Subscribed to Newsletter
        &lt;/label>
    &lt;/div></pre>

</li>

<li>
<h3>Changing display name of a label for a field :</h3>
<p>With the above code we get the name for the label dynamically according to its Model. If we want to change
it we have two options :
</p>
<pre>namespace Vidly.Models
{
    public class Customer
    {
        public int Id { get; set; }
        [Required]
        [StringLength(255)]
        public string Name { get; set; }
        public bool IsSubcribed { get; set; }
        public MembershipType MembershipType { get; set; }
        public byte MembershipTypeId { get; set; }

        [Display(Name = "Date of Birth")]
        public DateTime? Birthdate { get; set; }

    }
}</pre>

<p>Second option pure html:</p>
<pre>    &lt;div class="form-group">
        &lt;label for="Birthdate">Date of Birthday&lt;/label>
        @Html.TextBoxFor(m => m.Birthdate, new { @class = "form-control" })
    &lt;/div>
</pre>

</li>

<li>
<h3>DropDown lists</h3>
<p>First we need bring in our action what we want to show in our dropdown list:</p>
<pre>        public ActionResult NewCustomer()
        {
            var membershipTypes = _context.MembershipTypes.ToList();
            var viewModel = new NewCustomerViewModel
            {
                MembershipTypes = membershipTypes
            };

            return View(viewModel);
        }</pre>
		
<p>We also need to create a ViewModel that will have the IEnumerable for the dropdown list.
</p>

<pre>    public class CustomerFormViewModel
    {
        //list of membership types
        public IEnumerable<MembershipType> MembershipTypes { get; set; }
        public Customer Customer { get; set; }
    }</pre>

<p>At our View :</p>
<pre><code>    &lt;div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, 
                                new SelectList(Model.MembershipTypes,"Id","Membership"),
                                "Select membership type", 
                                new { @class = "form-control" })
    &lt;/div></code></pre>	
<p>First we define for what this dropdown will be in our case for MembershipTypeId. Then we write new SelectList with the arguments
what we will bing from the model the list of items, then the name of the property that holds the value of each item in this case Id,
next argument the property for the text of each item which is Membership. After a string for the title of the list "Select membership type" and finally if we want something like classes etc.
</p>	
</li>

<li>
<h3>Model Binding</h3>
<p>When our form is ready we finally need a button and the action we had in Html.BeginForm with the HttpPost attribute above.</p>

<pre>        [HttpPost]
        public ActionResult Create(NewCustomerViewModel viewModel)
        {
            return View();
        }</pre>
		
<p>MVC is smart enough to bind the action with what we passed in ass parameter.</p>		
</li>

<li><h3>Saving Data</h3>
<p>First we use the Add method that temporarily saves our data and for the changes to be applied to database we need
to SaveChanges().
</p>
<pre>        [HttpPost]
        public ActionResult Create(Customer customer)
        {
            _context.Customers.Add(customer);
            _context.SaveChanges();

            return RedirectToAction("Index","Customers");
        }</pre>

</li>

<p>Finally we redirect them or create a View which will have the same name as the action like thank you it was submitted etc.</p>

<li>
<h3>Edit Form</h3>
<p>To edit a form first we need to have an action:</p>
<pre>        public ActionResult Edit(int id)
        {
            var customer = _context.Customers.SingleOrDefault(c => c.Id == id);

            var viewModel = new CustomerFormViewModel
            {
                Customer = customer,
                MembershipTypes = _context.MembershipTypes.ToList()
            };

            if (customer == null)
            {
                return HttpNotFound();

            }
            return View("CustomerForm",viewModel);
        }</pre>
		
<p>We will bring a customer according to id passed. Then we have the ViewModel we have created which will get 
the Customer and the mEmbershipTypes directly from context. If we don't have anything for that id return null else return
the View CustomerForm and in it the viewModel.
</p>
</li>

<li>
<h3>Updating Data</h3>
<p>We have two options. Either to use TryUpdateModel() which updates all the data. This is not suggested though for security reasons
and if we have an option to pass arguments only that we want with strings as 3rd argument.</p>
<h4>Wrong approach</h4>
<pre>
        [HttpPost]
        public ActionResult Save(Customer customer)
        {
            if (customer.Id == 0)
                _context.Customers.Add(customer);
            else
            {
                var customerInDB = _context.Customers.Single(c => c.Id == customer.Id);

                TryUpdateModel(customerInDB, "", new string[] { "Name", "Email" });
            }
            _context.SaveChanges();

            return RedirectToAction("Index","Customers");
        }


</pre>
<h4>Correct approach</h4>
<pre>
        [HttpPost]
        public ActionResult Save(Customer customer)
        {
            if (customer.Id == 0)
                _context.Customers.Add(customer);
            else
            {
                var customerInDB = _context.Customers.Single(c => c.Id == customer.Id);

                customerInDB.Name = customer.Name;
                customerInDB.Birthdate = customer.Birthdate;
                customerInDB.MembershipTypeId = customer.MembershipTypeId;
                customerInDB.IsSubcribed = customer.IsSubcribed;
            }
            _context.SaveChanges();

            return RedirectToAction("Index","Customers");
        }

</pre>
<p>Also we have to have hidden the id: in our form:</p>
<pre>@Html.HiddenFor(m => m.Customer.Id)</pre>
<p>Which has the id in an input but hidden.</p>

</li>

</ul>


</section>

<section>
<h1>Checking if we have value and change html and validation error</h1>
<p>To check if we have an id an change html title for example accordingly we will just add a new property in the ViewModel
</p>
<pre>    public class CustomerFormViewModel
    {
        //list of membership types
        public IEnumerable<MembershipType> MembershipTypes { get; set; }
        public Customer Customer { get; set; }
        public string Title
        {
            get
            {
                if (Customer != null && Customer.Id !=0)
                {
                    return "Edit Customer";
                }
                else
                {
                    return "New Customer";
                }

            }</pre>
			
<p>Then we will bring in our View the title.</p>
<pre>@Html.Model.Title</pre>

<h2>Validation errors</h2>
<p>Sometimes we will see an error and we will not get info about what it is. To solve this we must use try and catch.</p>

<pre>            try
            {
                _context.SaveChanges();
            }
            catch (DbEntityValidationException e) 
            {

                Console.WriteLine(e);
            }</pre>
</section>

<section>
<h1>Validation</h1>
<p>ASP.NET MVC uses data annotations to validate data according to parameter we have and checks if the data we pass
is valid else gives as an error.
</p>
<p>We can use ModelState.IsValid to check if the data we pass is valid according to the Model.</p>
<p>To add validation we hve three steps:</p>
<ol>
<li>Data annotation in our entities
<pre>        [Required]
        [StringLength(255)]
        public string Name { get; set; }</pre>
</li>

<li>Use ModelState.IsValid
<pre>        [HttpPost]
        public ActionResult Save(Customer customer)
        {
            if (!ModelState.IsValid)
            {
                var viewModel = new CustomerFormViewModel
                {
                    Customer = customer,
                    MembershipTypes = _context.MembershipTypes.ToList()
                };
                return View("CustomerForm",viewModel);
            }
            </pre>
</li>

<li>Error message to user (we add a field in our view that will show the message)
<pre>    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class ="form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div></pre>


</li>
</ol>

<h2>Styling validation errors and field</h2>
<p>We can see the classes used by ASP.NET MVC in developer tools and made the CSS we want.</p>
<p>The membership type though it s not required since it s a byte it's implicit required.</p>

<h3>Data annotations</h3>
<ol>
<li>[Required]</li>
<li>[StringLength(255)]</li>
<li>[Range(1,10)] for numbers</li>
<li>[Compare("OtherProperry")] for comparing two properties for example passwords</li>
<li>[Phone]</li>
<li>[EmailAddress]</li>
<li>[Url]</li>
<li>[RegularExpression("...")]</li>

</ol>

<h2>Overriding error message</h2>
<p>We can override error messages :</p>
<pre>        [Required(ErrorMessage = "Must not be empty")]
        [StringLength(255)]
        public string Name { get; set; }</pre>
		
<h2>Custom Validation</h2>
<p>Let's suppose the customer who fills the form must be over 18 years</p>
<p>First we create class out our Model which will derive from ValidationAttribute which is defined in System.ComponentModel.DataAnnotations</p>
<p>Then we override the IsValid method.</p>
<pre>    public class Min18YearsIfMember :ValidationAttribute
    {
        protected override ValidationResult IsValid(object value, ValidationContext validationContext)
        {
            return base.IsValid(value, validationContext);
        }
    }</pre>
	
<p>At our Model we add the property : </p>
<pre>        [Min18YearsIfMember]
        public DateTime? Birthdate { get; set; }</pre>
		
<p>Then at our Model in the class we created and in the IsValid method. The ObjectInstance property gives us access in the containing class and we must cast it with the object we want.</p>	
<pre>        protected override ValidationResult IsValid(object value, ValidationContext validationContext)
        {
            var customer = (Customer)validationContext.ObjectInstance;

            if (customer.MembershipTypeId ==1)
                return ValidationResult.Success;
            if (customer.Birthdate == null)
                return new ValidationResult("Birthdate is required");

            var age = DateTime.Today.Year - customer.Birthdate.Value.Year;

            return (age >= 18 ? ValidationResult.Success : new ValidationResult("Customer should be at least 18 years old"));

        }</pre>	
	
<p>Finally our our View form we need to add validation message.</p>

<h2>Validation summary</h2>
<p>ASP.NET MVC gives us the ability to have the total summary of errors in our form.</p>
<pre>@Html.ValidationSummary()</pre>
<p>Be careful for extra messages that we will get like Ids etc since they must not be empty. We fix this by instanciating
the object with the fields so it will get 0 value instead of empty.
</p>
<pre>        public ActionResult NewCustomer()
        {
            var membershipTypes = _context.MembershipTypes.ToList();
            var viewModel = new CustomerFormViewModel
            {
                Customer = new Customer(),
                MembershipTypes = membershipTypes
            };

            return View("CustomerForm",viewModel);
        }</pre>
<p>We can pass arguments so it display a custom error and exclude all other errors.</p>
<pre>    @Html.ValidationSummary(true,"Please fix the following errors")</pre>

<h2>Cient-Side Validation</h2>
<p>Client-side validation is by default disabled in APS.NET MVC. To enable it go to BundleConfig.cs and see that we have it at our bundles but we don't have it in our shared View file. To have it where we want we must add it in our Customer form view for example.</p>

<pre>@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
</pre>

<p>ASP.NET MVC now has validation errors in client side the messages we had. No extra call to server as we can see in our developer tools and Network activity. This happens because we used data annotations before so ASP.NET MVC handles everything.
<strong>Client-side validation only works with data annotations. The custom validation we had for age won't work in client side
 so we will use server side for that.</strong>
</p>

<h2>Prevent Cross-Site Request Forgery</h2>
<p>We can see in the form data in our Network in developer tools the security hole.</p>
<img src="security_hole.jpg">
<p>To prevent this firtt we must make sure that this request comes only from the customer form.</p>
<ol>
<li>First we use at our form
<pre>    @Html.AntiForgeryToken()</pre>
<p>We can see we have a hidden field created that's for verification which this value is also stored as a cookie in users computer
in encrypted format. If the cookie matches the value then its a legitimate request otherwise it's considered as an attack.
.</p>
<img src="antiforgery-token.jpg">
</li>

<li>Second we surround our action that has the HttpPost with the validation AntiForgeryToken.
<pre>        [HttpPost]
        [ValidateAntiForgeryToken]</pre>
<p>All validation security will be handled by ASP.NET MVC then.</p>		
</li>
</ol>

</section>





</body>
</html>